*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(21, 40, 65);
    height: 100%;
    overflow: hidden;
}

.head_menu{
    background-color:rgb(28, 54, 87);
    padding: 20px;
    width: 100%;
}

.head_menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main{
    display: flex;
    flex: nowrap;
}

.menu{
    background-color: rgb(32, 61, 100);
    width: 60px;
    animation: slideMenuOpen 0.8s;
    width: calc(20% + 60px);
    position: fixed;
    float: left;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
}

.menu .items {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.menu .items .item_head{
    padding: 33px 0px;
}

.menu .items .item {    
    width: 100%;
    margin: 5px 0px;
}

.menu .items .item a:hover {
    background-color: rgb(14, 24, 51);
}

.menu .items .item a {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    transition-duration: 0.5s;
}

.menu .items .item a span {
    font-size: 0.8em;
    position: absolute;
    left: 55px;
    width: calc(100% - 70px);
    animation: opacitySpan 3s;
    height: auto;
    padding: 10.5px;
}

.menu .items .item a i {
    font-size: 1.5em;
    width: 45px;
    min-width: 45px;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 5px 0px;
}

.activate_menu {
    animation: slideMenuClose 0.8s;
    width: 70px;
    min-width: 70px; 
}

.activate_menu .items .item a span {    
    display: none;
}

.activate_menu .items .item a i {
    width: 40px;
}

.activity_menu {
    position: fixed;
    z-index: -2;
    height: auto;
    width: calc(80% - 60px);
    animation: slideActivityOpen 0.8s;
    margin-left: calc(20% + 60px);   
    color: white;
    padding: 15px;
}

.activity_close {
    animation: slideActivityClose 0.8s;
    width: calc(100% - 70px);
    margin-left: 70px;
}

/******** Activity ********/
.activity {
    font-size: 18px;
    width: 100%;
    animation:  slideChangeActivity 0.8s;
}

.activity h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(0, 111, 175);
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.109);
}

.activity h3 , .activity h5, .activity span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.activity span {
    font-size: 0.8em;
}

/******** Activity account ********/

.account {
    display: flex;
    flex-direction: column;
}

.account .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.account .profile .data_profile {
    padding: 1px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.account .profile .data_profile img {
    width: 40%;
    min-width: 70px;
    max-width: 150px;
}

.account .profile .data_profile .info {
    padding: 5px 10px;
    width: 60%;
}

.account .profile .data_profile .info h5 {
    color: rgb(167, 167, 167);
    margin-bottom: 10px;
}

.account .profile .date {
    padding: 20px;
    width: 100%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 72, 114);
    border-radius: 5px;
    transition-duration: 0.5s;
}

.account .profile .date h4 {
    margin: 5px 0px;
    font-family:sans-serif;
    font-size: 0.7em;
    width: 33.33%;
}

.account .profile .date h3 {
    width: 100%;
    margin-bottom: 10px;
    color: rgb(195, 238, 255);
}

.account .profile .date:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 162, 255, 0.246);
}

/******** Activity data ********/

.data {
    display: flex;
    flex-direction: column;
}

.data .data_info {
    margin: 5px;
    margin-top: 0px;
    padding: 10px;    
}

.data .data_info .data_table {
    text-align: center;
    border-radius: 10px;
    display: flex;
    background-color: rgb(0, 38, 61);
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 72, 116, 0.096);
}

.data .data_info .data_table tr td {
    width: 500px;
}

/******** Activity list ********/

.list {
    display: flex;
    flex-direction: column;
}

.list .container_list {    
    width: 100%;
}

.list .container_list .item_list {
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    transition-duration: 0.5s;
    display: flex;
    flex-wrap: nowrap;
}

.list .container_list .item_list:hover {
    background-color: rgb(18, 70, 119);
}

.list .container_list .item_list input[type=button] {
    width: 20%;
    max-width: 80px;
    border: none;
    background-color: rgb(185, 229, 255);
    border-radius: 50px;
    margin: 10px 5px;
    transition-duration: 0.5s;
}

.list .container_list .item_list input[type=button]:hover {
    background-color: rgb(0, 34, 61);
    color: white;
    cursor: pointer;
}

.list .container_list .item_list input[type=button]:active {
    background-color: rgb(0, 103, 187);
} 

.list .container_list .item_list input[type=radio] {
    padding: 10px;
    width: 10%;
    max-width: 50px;
    margin: 17px 0px;
}

.list .container_list .item_list label {
    width: calc(100% - 130px);
    padding: 10px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/******** Activity shopping ********/

.shopping {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shopping .container_shopping {
    display: flex;
    flex-direction: column;
}

.shopping .container_shopping .bar_search {
    width: 100%;
    padding-bottom: 10px;
}

.shopping .container_shopping .bar_search .search {
    width: 30%;
    min-width: 250px;
    padding: 10px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(18, 70, 119);
    border-radius: 5px;
}

.shopping .container_shopping .bar_search .search .box_search {    
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
}

.shopping .container_shopping .bar_search .search .box_search i {
    width: 15%;
    padding: 5px;
    text-align: center;
    color: rgb(177, 177, 177);
    background-color: white;
    font-size: 0.8em;
}

.shopping .container_shopping .bar_search .search .box_search input {
    width: 85%;
    padding-left: 5px;
    outline: none;
    border: none;
}

.shopping .container_shopping .bar_search .search a {
    width: 20%;
    text-align: center;
    font-size: 1.2em;
    padding: 7px 5px 3px 5px;
    color: white;
    transition-duration: 0.3s;
}

.shopping .container_shopping .bar_search .search a:hover {
    color: rgb(177, 214, 255);
}

.shopping .container_shopping .box_shopping {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width: auto;
    height: auto;
}

/*** Hide scroll ***/
::-webkit-scrollbar {
    display: none;
}

.shopping .container_shopping .box_shopping .box_item {
    max-width: 20%;
    min-width: 200px;
    margin: 1%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 38, 61);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.308);
    transition-duration: 0.5s;
}

.shopping .container_shopping .box_shopping .box_item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.65);
}

.shopping .container_shopping .box_shopping .box_item img {
    width: 100%;
}

.shopping .container_shopping .box_shopping .box_item h4 {
    margin: 15px 0px 5px 0px;
    font-family: Verdana;
}

.shopping .container_shopping .box_shopping .box_item span {
    font-size: 0.7em;
}

/******** Activity settings ********/

.settings {
    display: flex;
    flex-direction: column;
}

.settings .container_settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;    
    overflow-y: auto;
    width: auto;
    height: auto;
}

.settings .container_settings .data_settings {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.settings .container_settings .data_settings .data {
    width: 48%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.settings .container_settings .data_settings .data h3 {
    margin: 5px 0px 10px 5px;
}

.settings .container_settings .data_settings .data.user{
    border-radius: 10px;
    background-color: rgb(0, 38, 61);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.281);
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}

.settings .container_settings .data_settings .data.user .image_user {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    max-width: 80%;
    width: 100%;
    min-width: 200px;
}

.settings .container_settings .data_settings .data.user img {
    max-width: 200px;
    width: 40%;
}

.settings .container_settings .data_settings .data.user .change_img {
    width: 60%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.settings .container_settings .data_settings .data.user .change_img span {
    margin: 5px;
    width: 100%;
}

.settings .container_settings  input {
    margin:10px 5px;
    width: 60px;
    padding: 5px;
    outline: none;
    border: 2px solid rgb(0, 74, 134);
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 74, 134);
    transition-duration: 0.5s;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.281);
}

.settings .container_settings input:hover {
    background-color: rgb(0, 110, 173);
    cursor: pointer;
}

.settings .container_settings input:active {
    background-color: rgb(0, 36, 66);
}

.settings .container_settings .data_settings .input_data {
    display: flex;
    flex-wrap: wrap;
}

.settings .container_settings .data_settings .input_data label {
    width: 25%;
    margin: 5px 0px;
    padding-left: 5px;
}

.settings .container_settings .data_settings .input_data input, textarea {
    width: 75%;
    max-width: 50%;
    margin: 5px 0px;
    padding: 4px;
    outline: none;
    border: 2px solid rgb(0, 19, 36);
    background-color: rgb(0, 54, 98);
    border-radius: 5px;
    color: rgb(194, 227, 255);
    transition-duration: 0.2s;
}

.settings .container_settings .data_settings .input_data input:hover, textarea:hover {
    border-color: rgb(0, 79, 144);
}

.settings .container_settings .data_settings .data.location {
    padding: 20px 10px;
}

.settings .container_settings .data_settings .data.location .label_description {
    width: 100%;
}

.settings .container_settings .data_settings .data.location textarea {
    margin-left: 25%;
}

.settings .container_settings .data_settings .other_options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.settings .container_settings .data_settings .other_options .light_mode {
    width: 60%;
    padding-left: 20px;
}
.settings .container_settings .data_settings .other_options .button_save {
    width: 40%;
    padding-right: 10px;
}

.settings .container_settings .button_save #save_button {
    width: 80px;
    float: right;
}


/******** Animations ********/

@keyframes slideChangeActivity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes slideActivityClose {
    from {
        margin-left: calc(20% + 60px);  
    }

    to {        
        margin-left: 70px;
    }
}

@keyframes slideActivityOpen {
    from {
        margin-left: 60px;
    }

    to {        
        margin-left: calc(20% + 60px);           
    }
}

@keyframes opacitySpan {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes slideMenuOpen {
    from {
        width: 60px;
    }

    to {        
        width: calc(20% + 60px);           
    }
}


@keyframes slideMenuClose {
    from {
        width: 20%;
    }

    to {
        width: 60px;
    }
}